
.colorwhite {
  color: white;
}
.colorblack {
  color: black;
}
.logo {
  height: 300px;
  width: 300px;
}
h1 {
  justify-content: center;
}
body {
  background-image: url(../img/fondo_web.jpg);
}
.barmenu {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: white;
  margin-left: 15px;
  justify-content: center;
  float: right;
}
.barmenu {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
  
  .barmenu:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .barmenu:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .barmenu:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
  }
  
  .barmenu:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .barmenu:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .textoinicio{
    display: flex;
    width: 500px;
    align-items: center;
  }
  @media (min-width: 300px) and (max-width: 800px){

  }
  .inline_block {
    display: block;
  }