/* Estilos generales */
body {
  background-image: url(../img/fondo_web.jpg);
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Utilidades */
.color-white { color: white; }
.color-black { color: black; }

/* Logo */
.logo {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

/* Encabezados */
h1 {
  font-size: 2.5em;
  text-align: center;
}

/* Barra de menú */
.barmenu {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
  
  .barmenu:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .barmenu:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .barmenu:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
  }
  
  .barmenu:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .barmenu:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  /*Cierre de configuración de botones inicio*/

/* Configuración de icono y título del sitio web */
.textoinicio {
  display: flex;
  width: 100%;
  max-width: 500px;
  align-items: center;
  margin: 0 auto;
}

.inline_block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  max-width: 500px;
}

/* Responsive */
@media (max-width: 800px) {
  .inline_block {
    top: 80%;
  }
  
  .barmenu {
    float: none;
    display: block;
    margin: 10px auto;
  }
}